.draw-page {
  display: flex;
  flex-direction: column;
}

.paint-content {
  padding: 1rem;
  width: 100%;
  margin-top: 10px;
  height: 690px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1 {
  font-size: 50px;
  color: #4644f0;
}

.draw-area {
  width: 600px;
  height: 670px;
  border: 2px solid #808080;
  background-color: white;
}

.Menu {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;
  margin: auto;
  margin-top: 5px;
}

canvas {
  margin-top: 10px;
  background-color: white;
  background: #000000;
}

.save-canvas {
  padding: 1rem;
}
