.favorites-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 2rem 2rem 2rem 2rem;
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.favorites-title h3 {
  font-size: 1.8rem;
  padding: 0 0 1rem 0rem;
}

.favorites-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.favorites-content01,
.favorites-content02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  flex-direction: unset;
  animation: 0.2s ease-in-out 0s 1 normal none running animation-5j8bii;
}

.favorites-content02 .loading-container {
  width: 100%;
  height: 100%;
}
/* PAGINATION */
.pagination-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@media screen and (max-width: 1000px) {
  .favorites-page {
    padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .favorites-page {
    padding: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .favorites-page {
    padding: 0.8rem;
  }
}
